.DS_Store
*.diagrams
ssn/rdf/ISO-OWL-cache/iso19150-2base.rdf
ssn/rdf/ISO-OWL-cache/iso19156GeneralFeatureInstance.rdf
ssn/rdf/ISO-OWL-cache/iso19156Observation.rdf
ssn/rdf/ISO-OWL-cache/iso19156SamplingFeature.rdf
ssn/rdf/ISO-OWL-cache/iso19156SpatialSamplingFeature.rdf
ssn/rdf/ISO-OWL-cache/iso19156Specimen.rdf
time - 0/
*.tbc

ssn/integrated/html-from-topbraid/

.idea
