    /* github.com style (c) Vasily Polovnyov <vast@whiteants.net>*/ 
    
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #333;
      background: #f8f8f8;
      -webkit-text-size-adjust: none;
    }
    
    .hljs-comment,
    .diff .hljs-header {
      color: #998;
      font-style: italic;
    }
    
    .hljs-keyword,
    .css .rule .hljs-keyword,
    .hljs-winutils,
    .nginx .hljs-title,
    .hljs-subst,
    .hljs-request,
    .hljs-status {
      color: #333;
      font-weight: bold;
    }
    
    .hljs-number,
    .hljs-hexcolor,
    .ruby .hljs-constant {
      color: #008080;
    }
    
    .hljs-string,
    .hljs-tag .hljs-value,
    .hljs-doctag,
    .tex .hljs-formula {
      color: #d14;
    }
    
    .hljs-title,
    .hljs-id,
    .scss .hljs-preprocessor {
      color: #900;
      font-weight: bold;
    }
    
    .hljs-list .hljs-keyword,
    .hljs-subst {
      font-weight: normal;
    }
    
    .hljs-class .hljs-title,
    .hljs-type,
    .vhdl .hljs-literal,
    .tex .hljs-command {
      color: #458;
      font-weight: bold;
    }
    
    .hljs-tag,
    .hljs-tag .hljs-title,
    .hljs-rule .hljs-property,
    .django .hljs-tag .hljs-keyword {
      color: #000080;
      font-weight: normal;
    }
    
    .hljs-attribute,
    .hljs-variable,
    .lisp .hljs-body,
    .hljs-name {
      color: #008080;
    }
    
    .hljs-regexp {
      color: #009926;
    }
    
    .hljs-symbol,
    .ruby .hljs-symbol .hljs-string,
    .lisp .hljs-keyword,
    .clojure .hljs-keyword,
    .scheme .hljs-keyword,
    .tex .hljs-special,
    .hljs-prompt {
      color: #990073;
    }
    
    .hljs-built_in {
      color: #0086b3;
    }
    
    .hljs-preprocessor,
    .hljs-pragma,
    .hljs-pi,
    .hljs-doctype,
    .hljs-shebang,
    .hljs-cdata {
      color: #999;
      font-weight: bold;
    }
    
    .hljs-deletion {
      background: #fdd;
    }
    
    .hljs-addition {
      background: #dfd;
    }
    
    .diff .hljs-change {
      background: #0086b3;
    }
    
    .hljs-chunk {
      color: #aaa;
    }
/*****************************************************************
 * ReSpec 3 CSS
 * Robin Berjon - http://berjon.com/
 *****************************************************************/
    /* Override code highlighter background */
    
    .hljs {
      background: transparent !important;
    }
    /* --- INLINES --- */
    
    em.rfc2119 {
      text-transform: lowercase;
      font-variant: small-caps;
      font-style: normal;
      color: #900;
    }
    
    h1 acronym,
    h2 acronym,
    h3 acronym,
    h4 acronym,
    h5 acronym,
    h6 acronym,
    a acronym,
    h1 abbr,
    h2 abbr,
    h3 abbr,
    h4 abbr,
    h5 abbr,
    h6 abbr,
    a abbr {
      border: none;
    }
    
    dfn {
      font-weight: bold;
    }
    
    a.internalDFN {
      color: inherit;
      border-bottom: 1px solid #99c;
      text-decoration: none;
    }
    
    a.externalDFN {
      color: inherit;
      border-bottom: 1px dotted #ccc;
      text-decoration: none;
    }
    
    a.bibref {
      text-decoration: none;
    }
    
    cite .bibref {
      font-style: normal;
    }
    
    code {
      color: #C83500;
    }
    /* --- TOC --- */
    
    .toc a,
    .tof a {
      text-decoration: none;
    }
    
    a .secno,
    a .figno {
      color: #000;
    }
    
    ul.tof,
    ol.tof {
      list-style: none outside none;
    }
    
    .caption {
      margin-top: 0.5em;
      font-style: italic;
    }
    /* --- TABLE --- */
    
    table.simple {
      border-spacing: 0;
      border-collapse: collapse;
      border-bottom: 3px solid #005a9c;
    }
    
    .simple th {
      background: #005a9c;
      color: #fff;
      padding: 3px 5px;
      text-align: left;
    }
    
    .simple th[scope="row"] {
      background: inherit;
      color: inherit;
      border-top: 1px solid #ddd;
    }
    
    .simple td {
      padding: 3px 10px;
      border-top: 1px solid #ddd;
    }
    
    .simple tr:nth-child(even) {
      background: #f0f6ff;
    }
    /* --- DL --- */
    
    .section dd > p:first-child {
      margin-top: 0;
    }
    
    .section dd > p:last-child {
      margin-bottom: 0;
    }
    
    .section dd {
      margin-bottom: 1em;
    }
    
    .section dl.attrs dd,
    .section dl.eldef dd {
      margin-bottom: 0;
    }
    
    .respec-hidden {
      display: none;
    }
    
    @media print {
      .removeOnSave {
        display: none;
      }
    }

    /* Styles to replicate key LODE styles */
    
    ul.hlist {
      list-style-type: none;
      background-color: #eee;
    }
    
    ul.hlist li {
      display: inline;
      margin-right: 1em;
      font-size: smaller;
    }
    
    .entity {
      border: 1px solid black;
      padding: 0.5em;
      margin-top: 0.5em;
    }
    
    .entity h4 {
      margin-top: 0;
    }
    
    .entity dl {
      border: dashed thin black;
      border-width: 1px 0;
      background-color: #eee;
      margin: 0 0.5em;
    }
    
    p.iri::before {
      content: "IRI: ";
      font-weight: bold;
      font-family: sans-serif;
    }
    
    p.iri {
      font-family: monospace;
    }
    
    span.logic {
      font-weight: bold;
      color: purple;
    }
    
    span.dotted {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: black;
    }
    /* --- ISSUES/NOTES --- */
    
    div.issue-title,
    div.note-title,
    div.ednote-title,
    div.warning-title {
      padding-right: 1em;
      min-width: 7.5em;
      color: #b9ab2d;
    }
    
    div.issue-title {
      color: #e05252;
    }
    
    div.note-title,
    div.ednote-title {
      color: #2b2;
    }
    
    div.warning-title {
      color: #f22;
    }
    
    div.issue-title span,
    div.note-title span,
    div.ednote-title span,
    div.warning-title span {
      text-transform: uppercase;
    }
    
    div.note,
    div.issue,
    div.ednote,
    div.warning {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    
    .note > p:first-child,
    .ednote > p:first-child,
    .issue > p:first-child,
    .warning > p:first-child {
      margin-top: 0
    }
    
    .issue,
    .note,
    .ednote,
    .warning {
      padding: .5em;
      border-left-width: .5em;
      border-left-style: solid;
    }
    
    div.issue,
    div.note,
    div.ednote,
    div.warning {
      padding: 1em 1.2em 0.5em;
      margin: 1em 0;
      position: relative;
      clear: both;
    }
    
    span.note,
    span.ednote,
    span.issue,
    span.warning {
      padding: .1em .5em .15em;
    }
    
    .issue {
      border-color: #e05252;
      background: #fbe9e9;
    }
    
    .note,
    .ednote {
      border-color: #52e052;
      background: #e9fbe9;
    }
    
    .warning {
      border-color: #f11;
      border-width: .2em;
      border-style: solid;
      background: #fbe9e9;
    }
    
    .warning-title:before {
      content: "⚠";
      /*U+26A0 WARNING SIGN*/
      font-size: 3em;
      float: left;
      height: 100%;
      padding-right: .3em;
      vertical-align: top;
      margin-top: -0.5em;
    }
    
    li.task-list-item {
      list-style: none;
    }
    
    input.task-list-item-checkbox {
      margin: 0 0.35em 0.25em -1.6em;
      vertical-align: middle;
    }
